button {
    border-color: #ff2f66;
    background-color: rgba(23, 17, 24, .5);
    background-image: none;
}

button:hover {
    border-color: #ff2f66;
    box-shadow: 0 0 10px 0 #ff2f66;
    background-color: #ff2f66;
}

button:checked {
    background-color: #ff2f66;
    box-shadow: 0 0 10px 0 #ff2f66
}

row {
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
}

row:hover {
    border-color: #ff2f66;
    border-width: 1px;
    border-style: solid;
    box-shadow: inset 0 0 20px 0 #ff2f66;
}

row:selected {
    background: none;
    border-color: #ff2f66;
    border-width: 1px;
    border-style: solid;
    box-shadow: inset 0 0 20px 0 #ff2f66;
}

list {
    border-color: #ff2f66;
    border-style: solid;
    border-width: 1px;
}

window {
    /*background-color: #052024;*/
    /*background-color: rgba(0, 0, 0, 0.75);*/
    /*background: none*/
    background: radial-gradient(rgba(23, 17, 24, .8), rgba(23, 17, 24, .5));
    border: solid 1px;
    border-color: #FF2F66
}

box {
    background: none;
    border-style: none;
}

grid {
    background: none
}

flowbox {
    background: none;
    border-style: none;
    padding: 10px;
}

stack {
    background: none;
    border-style: none
}

list {
    background: none
}

searchbar {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ff2f66;
    background: none;
}

notebook {
    border-style: none
}

headerbar {
    background-color: rgba(255, 47, 102, 0.2);
    background-image: none;
    box-shadow: inset 0 0 5px 0 #FF2F66;
    border-width: 1px;
    border-color: #FF2F66
}

entry {
    border-color: #ff2f66;
    background-color: rgba(23, 17, 24, .5);
    background-image: none;
}

entry:focus {
    outline-color: #ff2f66;
    border-color: #ff2f66;
    box-shadow: 0 0 10px 0 #ff2f66;
    /*background-color: #ff2f66;*/
}

header {
    background-color: rgba(23, 17, 24, .5);
    border-color: #ff2f66;
}

tab:hover {
    background: none;
    border-style: solid;
    border-width: 1px;
    border-color: #ff2f66;
}

tab {
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
}

tab:hover {
    background: none;
    border-style: solid;
    border-width: 1px;
    border-color: #ff2f66;
}

tab:checked {
    /*background-color: #ff2f66;*/
    box-shadow: 0 -4px #ff2f66 inset;
    border-color: #ff2f66;
}

textview {
    background: none;
}

text {
    background: none;
}

treeview {
    background: none
}

treeview:hover {
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #ff2f66;
    background: linear-gradient(rgba(255, 47, 102, .5), rgba(255, 47, 102, .1), rgba(255, 47, 102, .5))
}

check {
    background-image: none;
    border-color: #ff2f66
}

check:hover {
    box-shadow: 0 0 5px 0 #ff2f66
}

check:checked {
    box-shadow: 0 0 10px 0 #ff2f66
}

dialog {
    background: radial-gradient(rgba(23, 17, 24, .8), rgba(23, 17, 24, .5));
}

viewport {
    background: none
}

selection {
    background-color: #ff2f66;
}

spinbutton {
    background: none;
    outline-color: transparent;
    border: solid 1px #ff2f66
}

spinbutton:focus {
    border: solid 1px #ff2f66;
    box-shadow: inset 0 0 10px #ff2f66;
}

switch {
    background-color: rgba(23, 17, 24, .5);
    border-color: #ff2f66;
}

slider {
    background-image: none;
    border: 1px solid #ff2f66;
    box-shadow: inset 0 0 3px 0 #ff2f66
}

slider:checked {
    background-color: #ff2f66;
    box-shadow: 0 0 10px 5px #ff2f66
}

slider:active {
    background-color: #ff2f66
}

popover {
    background-color: rgba(23, 17, 24, .7);
    border-color: #ff2f66;
    box-shadow: 0 0 5px 0 #ff2f66
}

messagedialog {
    background-color: rgba(23, 17, 24, .7);
    border-color: #ff2f66;
    box-shadow: 0 0 5px 0 #ff2f66
}
